name: Swift Build

on:
  pull_request:
    branches:
      - develop
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Swift Build
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show Swift version
        run: swift --version

      - name: Build
        run: |
          xcodebuild -project JourneyWallet.xcodeproj \
            -scheme JourneyWallet \
            -destination 'platform=iOS Simulator,name=iPhone 17 Pro Max' \
            -configuration Release \
            clean build